body {
    text-align: justify;
    font-family: Calibri,sans-serif;
    background-color: #F8F7F7;
    color : #1a1a1a ;
    margin-left: 20px;
}

.h2 { 
    color : #a09fbd;
    font-weight: bold;
    font-size: larger;
}

.auteur {
    color : #1a1a1a;
    font-weight: bold;
    font-style: italic;
}

.titre {
    color : #c8580e;
    font-weight: bold;
    font-size: larger;
}

.img {
    color : #c8580e;
    font-weight: bold;
    font-size: larger;
}